<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title ></title>
</head>
<body>
	
	<!-- home-container  d-flex justify-content-center align-items-center  -->
	<section class="banner home-container">
		
		
			<div class="home-text-container">
				<div class="home-t text-center">
					<h1  class="font-weight-bold home-text">EmpCare ~ <br> Smart Contact Manager</h1>
					<p class="home-text"> Now manage your contacts in a smarter/easier way . We provide efficient and smarter
					way of handling contacts. </p>
					
					<div class="home-btn-cont">
						<button class="btn btn-lg home-btn"> Lets Start!</button>
					</div>
					
				</div>	
			</div>
			
			<div class="h-img-cont">
				<img class="home-img" src=""  th:src="@{/img/trade.png}">
			</div>
			
	</section>
	
	
</body>
</html>